{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .all{
            width: 100%;
            text-align: center;
            margin-top: 20vh;
        }
        .links{
            width: 100%;
        }
        .links a button{
            width: 100px;
            margin: 10px;
        }
        body{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div class="all">
        <h1>Weclome to LinkSL</h1>
        <div class="links">
            <a href="{% url 'login' %}"><button>SignIn</button></a>
            <a href="{% url 'signup' %}"><button>SignUp</button></a>
        </div>
    </div>
</body>
</html>