<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'visited_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visited Places</title>
</head>
<body>
    <div id="page">
        <div class="container">
          <div class="body">
              <p>
                {{ vp0 }}
              </p>
          </div>
          <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ vp1 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ vp2 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ vp3 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>

    <div class="container">
        <div class="body">
            <p>{{ vp4 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ vp5 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

        <div class="container">
        <div class="body">
            <p>{{ vp6 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ vp7 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ vp8 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ vp9 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>
  </div>
</body>
</html>