<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'visited_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    <div id="page">
        <div class="container">
          <div class="body">
                <p>{{ wp0 }}</p>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" name="visited" value="{{ wp0 }}" onclick="setTimeout(window.location=window.location, 1000)">Visited</button>
                </form>
          </div>
          <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp1 }}</p>
          <form method="post"> {% csrf_token %} <button type="submit" name="visited" value="{{ wp1 }}">Visited</button></form>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp2 }}</p><form method="post"> {% csrf_token %} <button type="submit" name="visited" value="{{ wp2 }}">Visited</button></form>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp3 }}</p><form method="post"> {% csrf_token %} <button type="submit" name="visited" value="{{ wp3 }}">Visited</button></form>
      </div>
      <div class="upArrow"></div>
      </div>

    <div class="container">
        <div class="body">
            <p>{{ wp4 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp4 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp5 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp5 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>

        <div class="container">
        <div class="body">
            <p>{{ wp6 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp6 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp7 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp7 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp8 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp8 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp9 }}</p><form method="post">{% csrf_token %}<button type="submit" name="visited" value="{{ wp9 }}">Visited</button></form>
        </div>
        <div class="upArrow"></div>
    </div>
  </div>
</body>
</html>