<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'visited_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    <div id="page">
        <div class="container">
          <div class="body">
              <p>{{ wp0 }}</p>
          </div>
          <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp1 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp2 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>
  
      <div class="container">
      <div class="body">
          <p>{{ wp3 }}</p>
      </div>
      <div class="upArrow"></div>
      </div>

    <div class="container">
        <div class="body">
            <p>{{ wp4 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp5 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

        <div class="container">
        <div class="body">
            <p>{{ wp6 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp7 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp8 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>

    <div class="container">
        <div class="body">
            <p>{{ wp9 }}</p>
        </div>
        <div class="upArrow"></div>
    </div>
  </div>
</body>
</html>